#sear-form {
	margin-top: 20px;
}

#sear-btn {
	margin-left: 6.5px;
}

#pw-sear-btn {
	margin-left: 465px;
}

#small-line {
	width: 100%;
	text-align: right;
	font-weight: bold;
}

#sear-que {
    text-align: left;
}