.table th:first-child{
		width: 5%;
}

.table th:nth-child(2){
		width: 10%;
}

.table th:nth-child(3){
		width: 40%;
}

.table th:nth-child(4){
		width: 10%;
}

.table th:nth-child(5){
		width: 10%;
}

.table th:nth-child(6){
		width: 15%;
}

.table th:last-child{
		width: 10%;
}
/* 입양 시작일 종료일 기간 입력 텍스트 시작 */
.form-control[readonly] {
    background-color: #fff;
    cursor: default;
}

#sc1, #sbtn, #sc2 {
	display: inline;
}
/* 입양 시작일 종료일 기간 입력 텍스트 끝 */
#sc1, #sc2{
	width: 20%;
	height: 30px;
}